:root {
  --white: #ffffff;
  --black: #1a1a1f;
  --gray: #85858d;
  --light-gray: #e4e3eb;
  --blue: #5d37f3;
  --error-color: #ea1919;
  --page-background: #f3f2fa;
}

@font-face {
  font-display: swap;
  font-family: "FiraGO";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/FiraGO-Regular.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "FiraGO";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/FiraGO-Medium.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "FiraGO";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/FiraGO-Bold.ttf") format("truetype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "FiraGO", sans-serif;
  font-size: 1.6rem;
}
